.nav {
  position: relative;

}

.nav_burger {
  /*position: absolute;*/
  /*right: 16px;*/
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.nav_burger__open {
  background-image: url('../../images/menu.png');
}

.nav_burger__open__save {
  background-image: url('../../images/menu_black.png');
}

.nav_burger__close {
  background-image: url('../../images/close.svg');
  background-size: 20px;
}
.nav_burger__close__save {
  background-image: url('../../images/close_black.png');
  background-size: 20px;
}



.nav-mobile {
  display: none;
  position: fixed;
  width: 100%;
  height: auto;
  background: #000;
  z-index: 1;
}

.nav-mobile__save {
  background: #fff;
}

@media screen and (max-width: 1440px) {
  .nav{
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav {
    display: none;
  }
  .nav_burger {
    display: block;
    padding-right: 16px;
  }
  .nav-mobile__open {
    display: block;
    top: 56px;
    width: 100%;
  }
  .nav_burger__hide {
    display: none;
  }
}
