.search {
  width: 608px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 0;
}

.search_title {
  font-family: 'Roboto Slab', Arial;
  font-size: 60px;
  line-height: 64px;
  height: 128px;
  font-weight: normal;
  margin: 0 0 32px 0;
}

.search_text {
  font-family: 'Roboto', Arial;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 64px 0;
}

.search__input {
  width: 100%;
  height: 64px;
  border: 1px solid #d1d2d6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;
  margin-right: -168px;
  font-family: 'Roboto', Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  padding-left: 24px;
  caret-color: #2f71e5;
}

.search__input::-webkit-input-placeholder {color: #b6bcbf;}
.search__input::-moz-placeholder          {color: #b6bcbf;}
.search__input:-moz-placeholder           {color: #b6bcbf;}
.search__input:-ms-input-placeholder      {color: #b6bcbf;}

.search__input:focus::-webkit-input-placeholder {opacity:0;}
.search__input:focus::-moz-placeholder          {opacity:0;}
.search__input:focus:-moz-placeholder           {opacity:0;}
.search__input:focus:-ms-input-placeholder      {opacity:0;}


.search__button {
  position: absolute;
  background: #2F71E5;
  box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  font-family: 'Roboto', Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 0;
  border: none;
  width: 168px;
  height: 64px;
  cursor: pointer;
}

.search__button:hover {
  background: #347eff;
}

.search__button:active {
  background: #2a65cc;
}

.search_form_input-container {
  position: relative;
}

@media screen and (max-width: 1440px) {
  .search {
    margin: 0 0 0 160px;
    width: 448px;
  }
  .search_title {
    font-size: 36px;
    line-height: 40px;
    width: 300px;
    height: auto;
    margin-bottom: 16px;
  }
  .search_text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 48px;
  }
  .search__input {
    height: 56px;
  }
  .search__button {
    width: 160px;
    height: 56px;
    right: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search {
    margin: 0 0 0 19px;
    width: 100%;
    height: 480px;
    align-items: center;
  }
  .search_text {
    margin-bottom: 122px;
    max-width: 288px;
  }
  .search_title {
    max-width: 288px;
  }
  .search__input {
    height: 56px;
  }
  .search_form_input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .search__button {
    position: relative;
    width: 288px;
    height: 56px;
    margin-top: 16px;
    right: 0;
  }
}

