.popup__content {
  width: 430px;
  min-height: 380px;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 28px 36px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.popup__content__success {
  min-height: 182px;
  padding: 43px 36px 51px 36px;
}

@media screen and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 60px);
  }
}
